<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.IUserDao" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="use_pwd" property="usePwd" jdbcType="VARCHAR" />
    <result column="inster_date" property="insterDate" jdbcType="DATE" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="user_img" property="userImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="condition">
  	<if test="userId != null and userId != ''"><![CDATA[ AND A.user_id = #{userId} ]]></if>
  	<if test="userName != null and userName != ''"><![CDATA[ AND A.user_name = #{userName} ]]></if>
  	<if test="usePwd != null and usePwd != ''"><![CDATA[ AND A.use_pwd = #{usePwd} ]]></if>
  	<if test="insterDate != null and insterDate != ''"><![CDATA[ AND A.inster_date = #{insterDate} ]]></if>
  	<if test="updateDate != null and updateDate != ''"><![CDATA[ AND A.update_date = #{updateDate} ]]></if>
  	<if test="userImg != null and userImg != ''"><![CDATA[ AND A.user_img = #{userImg} ]]></if>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_name, use_pwd, inster_date, update_date, user_img
  </sql>
  <select id="findUser" resultMap="BaseResultMap" parameterType="com.cn.hnust.pojo.User" >
    <![CDATA[select ]]>
    <include refid="Base_Column_List" />
    <![CDATA[from user A where 1=1 and A.user_name = #{userName} AND A.use_pwd = #{usePwd} ]]>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <![CDATA[select ]]>
    <include refid="Base_Column_List" />
    <![CDATA[from user
    where user_id = #{userId,jdbcType=VARCHAR}]]>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.hnust.pojo.User" >
    insert into user (user_id, user_name, use_pwd, 
      inster_date, update_date)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{usePwd,jdbcType=VARCHAR}, 
      #{insterDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="usePwd != null" >
        use_pwd,
      </if>
      <if test="insterDate != null" >
        inster_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="usePwd != null" >
        #{usePwd,jdbcType=VARCHAR},
      </if>
      <if test="insterDate != null" >
        #{insterDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.User" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="usePwd != null" >
        use_pwd = #{usePwd,jdbcType=VARCHAR},
      </if>
      <if test="insterDate != null" >
        inster_date = #{insterDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.User" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      use_pwd = #{usePwd,jdbcType=VARCHAR},
      inster_date = #{insterDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>